<!DOCTYPE html>
<html>
    <head>
        <title>Biblioteca</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="biblioteca.js"></script>
    </head>
    <body>
        <div id="app" class="container">
            <h1>Biblioteca</h1>
            <ul class="list-group">
                <li v-for="libro in libros" class="list-group-item">
                    <table class="table table-borderless">
                        <tr>
                            <th>ISBN:</th>
                            <td>{{libro.isbn}}</td>
                        </tr>
                        <tr>
                            <th>Título:</th>
                            <td>{{libro.titulo}}</td>
                        </tr>
                        <tr>
                            <th>Autor:</th>
                            <td>{{libro.autor}}</td>
                        </tr>
                        <tr>
                            <th>Editorial:</th>
                            <td>{{libro.editorial}}</td>
                        </tr>
                    </table>
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th colspan="2">
                                    Ubicaciones
                                </th>
                            </tr>
                            <tr>
                                <th>Ubicación</th>
                                <th># Ejemplares</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(ubicacion, index) in libro.ubicaciones">
                                <td>
                                    {{ubicacion.nombre}}
                                </td>
                                <td>
                                    {{ubicacion.cantidad}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="float-right">
                        <button type="buton" class="btn btn-danger btn-sm" v-on:click="confirmarRemover(libro.isbn)">Remover</button>
                    </div>
                </li>
            </ul>
            <br/>
            <div class="float-right">
                <button type="button" v-on:click="mostrarDialogoLibro()" class="btn btn-primary">Agregar libro</button>
            </div>

            <div id="dialogoLibro" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Libro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>ISBN</label>
                                    <input name="isbn" class="form-control" v-model="nuevoLibro.isbn"/>
                                </div>
                                <div class="form-group">
                                    <label>Título</label>
                                    <input name="titulo" class="form-control" v-model="nuevoLibro.titulo"/>
                                </div>
                                <div class="form-group">
                                    <label>Autor</label>
                                    <input name="autor" class="form-control" v-model="nuevoLibro.autor"/>
                                </div>
                                <div class="form-group">
                                    <label>Editorial</label>
                                    <input name="editorial" class="form-control" v-model="nuevoLibro.editorial"/>
                                </div>
                                <table class="table table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th colspan="3">
                                                Ubicaciones
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Ubicación</th>
                                            <th># Ejemplares</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <button type="button" v-on:click="agregarUbicacion" class="btn btn-primary float-right">Add</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr v-for="(ubicacion, index) in nuevoLibro.ubicaciones">
                                            <td><input type="text" v-model="ubicacion.nombre"/></td>
                                            <td><input type="number" v-model="ubicacion.cantidad"/></td>
                                            <td>
                                                <button type="button" v-on:click="removerUbicacion(index)" class="btn btn-danger btn-sm">Remover</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" v-on:click="guardarLibro" class="btn btn-primary">Guardar Libro</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dialogoRemoverLibro" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Remover Libro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Desea remover el libro {{isbnLibroARemover}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" v-on:click="removerLibro" class="btn btn-danger">Remover Libro</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>

